

   @import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&family=Poetsen+One&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.navbar {
  background-color: #6F2DBD;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #B9FAF8;
  
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  
}

.navbar ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
}

.navbar li {
  flex: 1;
  text-align: center;
  position: relative;
  padding: 1.5em 0; /* Adjust padding for better spacing */
  border-left: 4px solid #B9FAF8;
}

.navbar li a {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: x-large; 
  font-weight: 800;
  text-decoration: none;
  color: #B9FAF8;
  -webkit-text-stroke: 1.8px black;
  position: relative;
  z-index: 1;
  transition: background-color 0.3s, color 0.3s;
}

.navbar li:hover {
  background-color: #A663CC;
}

.navbar li:first-child {
  border-left: none;
}

@media (max-width: 768px) {
  .navbar li a {
    font-size: 16px; 
  }
}

@media (max-width: 576px) {
  .navbar li a {
    font-size: 14px; 
  }
}
