@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&family=Poetsen+One&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');

.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fuzzy-bubbles-regular {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fuzzy-bubbles-bold {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 700;
    font-style: normal;
}


.product-list {
    margin-left: 25px;
    margin-right: 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 40px;
  }
  
  .pBox {
    border: 3px solid #6F2DBD;
    border-radius: 10px;
    background-color: #A663CC;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 8px #B8D0EB;
    transition: transform 0.2s ease;
  }
  
  .pBox:hover {
    transform: translateY(-5px);
  }
  
  .pImg {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .pTitle {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.2em;
    /* margin: 10px 0; */
    margin-left: 15px;
    margin-right: 15px;

  }
  
  .pPrice {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1em;
    color: #B8D0EB;
    margin: 5px 0;
  }
  
  