@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');

.fuzzy-bubbles-bold {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.contact-header {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
 
}

.contact-info {
  background-color: #B9FAF8;
  border: 4px solid #B8D0EB;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
 
}

.contact-info p {
  margin: 0;
}

.contact-info a {
  color: #6F2DBD;
  text-decoration: none;
}


.contact-info a {
  color: #000;
  text-decoration: underline;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form input, .contact-form textarea {
  width: 300px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: #B9FAF8;
  border: 4px solid #B8D0EB;
  font-size: 15px;
}

.contact-form textarea {
  height: 100px;
}


.contact-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-form textarea {
  height: 150px;
  resize: none;
}

.contact-form button {
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  background-color: #6F2DBD;
  color: #B9FAF8;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #A663CC;
}
